@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --yellow: hsla(42, 91%, 69%, 1);
    --orange: hsla(13, 96%, 67%, 1);
    --red: hsla(0, 90%, 63%, 1);
    --neon-green: hsla(127, 100%, 82%, 1);
    --very-dark-grey: hsla(248, 15%, 11%, 1);
    --almost-white: hsla(252, 11%, 91%, 1);
    --grey: hsla(252, 9%, 53%, 1);
    --dark-grey: hsla(247, 11%, 15%, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: var(--almost-white);
    background: var(--very-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
