@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --yellow: hsla(42, 91%, 69%, 1);
    --orange: hsla(13, 96%, 67%, 1);
    --red: hsla(0, 90%, 63%, 1);
    --neon-green: hsla(127, 100%, 82%, 1);
    --very-dark-grey: hsla(248, 15%, 11%, 1);
    --almost-white: hsla(252, 11%, 91%, 1);
    --grey: hsla(252, 9%, 53%, 1);
    --dark-grey: hsla(248, 10%, 15%, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: var(--almost-white);
    background: var(--very-dark-grey);
    background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--very-dark-grey);
    height: 0.5rem;
    accent-color: var(--neon-green);
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: var(--very-dark-grey);
    height: 0.5rem;
    border-radius: 5px;
    accent-color: var(--neon-green);
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background: var(--almost-white);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    transition: background 0.3s ease-in-out;
}

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 50%; /*Removes default border-radius that FF applies*/
    background: var(--almost-white);
    height: 1rem;
    width: 1rem;
    transition: background 0.3s ease-in-out;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}

[dir="rtl"] input[type="range"] {
    background: #ff4500;
    background-image: linear-gradient(#fff, #fff);
    background-size: 30% 100%;
    background-repeat: no-repeat;
}

.copy-container {
    position: absolute;
}
